<p id="notice"><%= notice %></p>

<h1>Station: <%= @station.name  %></h1>
<p>
  <b>Description:</b>
  <%= @station.description %>
</p>

<p>
  <b>Homepage url:</b>
  <%= @station.homepage_url %>
</p>

<h2>Streams</h2>
<%= render 'streams/streams', :streams => @station.streams %>

<hr/>


<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
